.banner-container{
    background-image: url(../../../images/banner.jpg);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
   
}

.banner-info{
    position: absolute;
    top: 35%;
    left: 2%;
    color: antiquewhite;
}

.banner-text{
    font-size: 60px;
    color: lightsalmon;
}

/* @media only screen and (max-width:688px){

    .banner-container{
        background-image: url(../../../images/banner.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

} */