.notfound-container{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/A-404-Page-Best-Practices-and-Design-Inspiration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.notfound-text{
    position: absolute;
    top: 95%;
    left: 5%;
    font-size: 60px;
}